.card {
    display: block;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .romove ol{
    list-style: none;
  }
  
  #card-img {
    height: 159px;
    border-radius: 50%;
    margin: 20px;
    flex-shrink: 0;
  }
  
  .card-info {
    padding: 20px;
  }
  
  .card-info h2 {
    margin-top: 0;
  }
  
  .card-info p {
    margin-bottom: 0;
  }